.el-alert{
	margin:0.15rem 0;
	padding:0.26rem;
	position:relative;
	/*color:rgb(51,51,51);*/
	border-radius:0.1rem;
	border:none;
	/*background-color: #f2dede;*/
}
.el-alert__closebtn{
	top:50%;
	margin-top:-6px;
}
.el-alert__title{
	font-size: 0.14rem;
}

